dialog {
	@apply pointer-events-none h-screen w-screen max-w-none max-h-none justify-center items-center-safe fixed;
	background: none;

	&:focus {
		@apply outline-none;
	}

	&::backdrop {
		@apply opacity-0;
	}

	&[open] {
		@apply flex;
	}

	& > * {
		@apply pointer-events-auto;
	}
}

body:has(> dialog[open]) {
	@apply overflow-hidden;

	&, & shader-doodle {
		width: calc(100% - var(--scrollbar-width, 0px));
	}
}

@media (prefers-reduced-motion: no-preference) {
	body {
		--dialog-fade: 360ms;
	}

	dialog {
		will-change: transform, opacity;
		transition:
			opacity var(--dialog-fade),
			transform var(--dialog-fade),
			overlay var(--dialog-fade) allow-discrete,
			display var(--dialog-fade) allow-discrete;
		transform: translateY(10px);
		opacity: 0;

		&[open] {
			transform: none;
			opacity: 1;
		}
	}

	@starting-style {
		dialog[open] {
			transform: translateY(10px);
			opacity: 0;
		}
	}

	.dialog-fade {
		@apply will-change-transform;
		transition: opacity var(--dialog-fade), transform var(--dialog-fade);
		transition-delay: calc(var(--dialog-fade) / 2);
	}

	body:has(> dialog[open]) .dialog-fade {
		transform: translateY(10px);
		opacity: 0;
		transition-delay: 0ms;
	}
}

@keyframes slide-enter {
	0% {
		transform: translateY(10px);
		opacity: 0
	}

	to {
		transform: translateY(0);
		opacity: 1
	}
}

@media (prefers-reduced-motion: no-preference) {
	[class*="slide-enter"] {
		--enter-stage: 0;
		--enter-step: 90ms;
		--enter-initial: 0ms;
		animation: slide-enter 1s both 1;
		animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
	}

	.slide-enter-1 {
		--enter-stage: 1 !important;
	}

	.slide-enter-2 {
		--enter-stage: 2 !important;
	}

	.slide-enter-3 {
		--enter-stage: 3 !important;
	}

	.slide-enter-4 {
		--enter-stage: 4 !important;
	}

	.slide-enter-5 {
		--enter-stage: 5 !important;
	}
}
