@import "tailwindcss";

@theme {
  --font-mono: "Geist Mono", monospace;
}

@font-face {
	font-family: "Geist Mono";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(/assets/fonts/geistmono.woff2) format("woff2");
}

html {
	@apply antialiased overflow-x-hidden font-mono;
	color-scheme: light;
	margin-right: calc(100% - 100vw); /* Prevents scrollbar jump */

	scrollbar-width: thin;
	& ::-webkit-scrollbar {
		width: .5rem;
		height: .5rem;
	}
	& ::-webkit-scrollbar-corner {
		background: transparent;
	}
}

body {
	@apply w-full overflow-x-auto;
}

@keyframes slide-enter {
	0% {
		transform: translateY(10px);
		opacity: 0
	}

	to {
		transform: translateY(0);
		opacity: 1
	}
}

@media (prefers-reduced-motion: no-preference) {
	.slide-enter-content > * {
		--enter-stage: 0;
		--enter-step: 90ms;
		--enter-initial: 0ms;
		animation: slide-enter 1s both 1;
		animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
	}

	.slide-enter > *:nth-child(1) {
		--enter-stage: 1 !important;
	}

	.slide-enter > *:nth-child(2) {
		--enter-stage: 2 !important;
	}

	.slide-enter > *:nth-child(3) {
		--enter-stage: 3 !important;
	}

	.slide-enter > *:nth-child(4) {
		--enter-stage: 4 !important;
	}

	.slide-enter > *:nth-child(5) {
		--enter-stage: 5 !important;
	}

	.slide-enter > *:nth-child(6) {
		--enter-stage: 6 !important;
	}

	.slide-enter > *:nth-child(7) {
		--enter-stage: 7 !important;
	}

	.slide-enter > *:nth-child(8) {
		--enter-stage: 8 !important;
	}

	.slide-enter > *:nth-child(9) {
		--enter-stage: 9 !important;
	}

	.slide-enter > *:nth-child(10) {
		--enter-stage: 10 !important;
	}

	.slide-enter > *:nth-child(11) {
		--enter-stage: 11 !important;
	}

	.slide-enter > *:nth-child(12) {
		--enter-stage: 12 !important;
	}

	.slide-enter > *:nth-child(13) {
		--enter-stage: 13 !important;
	}

	.slide-enter > *:nth-child(14) {
		--enter-stage: 14 !important;
	}

	.slide-enter > *:nth-child(15) {
		--enter-stage: 15 !important;
	}

	.slide-enter > *:nth-child(16) {
		--enter-stage: 16 !important;
	}

	.slide-enter > *:nth-child(17) {
		--enter-stage: 17 !important;
	}

	.slide-enter > *:nth-child(18) {
		--enter-stage: 18 !important;
	}

	.slide-enter > *:nth-child(19) {
		--enter-stage: 19 !important;
	}

	.slide-enter > *:nth-child(20) {
		--enter-stage: 20 !important;
	}
}
